---
import icon_dev from '../assets/dev.webp';
import Cards from './Cards.astro';

interface Project {
  id: number;
  name: string;
  description: string;
  image: string;
  github: string;
  live: string;
  start_date: string;
  end_date: string;
  technologies: {
    technology: {
      name: string;
    };
  }[];
} 

const response = await fetch(import.meta.env.HASURA_URL, {
     method: 'POST',
     headers: {
       'Content-Type': 'application/json',
       'x-hasura-admin-secret': import.meta.env.HASURA_ADMIN_SECRET,
     },
     body: JSON.stringify({
       query: `
         query {
           projects(order_by: {id: asc}) {
              id
              name
              description
              image
              github: github_link
              live: live_demo_link
              start_date
              end_date
              technologies: project_technologies {
                technology {
                  name
                }
              }
           }
         }
       `,
     }),
   });
   const { data } = await response.json();
   const projects = data.projects;
---
<section>
  <div class="projects-container">
    <img src={icon_dev.src} alt="source-code" width="50" height="50"><h1>Experiences</h1>
  </div>
  <div class="project-cards-container">
    {projects.map(({ name, description, image, github, live, technologies, start_date, end_date }: Project) => (
      <Cards title={name} description={description} image={image} technologies={technologies} github={github} live={live} duration=`${start_date} - ${end_date}`} />
    ))}
  </div>
  <div class="projects-container">
    <img src={icon_dev.src} alt="source-code" width="50" height="50"><h1>Personal projects</h1>
  </div>
  <div style="display: flex;align-items: center;justify-content: center;flex-direction: column;gap: 10px;">
    <h1>Under Construction</h1>
    <p>This website is currently under development. Check back soon to see what we've been working on.</p>
    <p class="date">Last updated: February 18, 2025</p>
  </div>
</section>

<style>
  section {
    margin: auto;
    min-width: 400px;
    max-width: 850px;
    /* background-color: lightslategray; */
    display: flex;
    padding: 1rem;
    flex-direction: column;
  }
  .projects-container {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .project-cards-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>